.christmasgarland {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}

.christmasgarland-module {
  display: flex;
  position: relative;
  animation: christmasgarland-animation-fadein 0.4s forwards;
}

.christmasgarland-module-lamp {
  color: #99a2ad;
}
.christmasgarland-module-shadow {
  color: transparent;
}
.christmasgarland-module .christmasgarland-module-lamp,
.christmasgarland-module .christmasgarland-module-shadow {
  will-change: transform;
  transform: translateZ(0);
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24, end);
}
.christmasgarland-module-item {
  z-index: 1;
  overflow: visible;
  color: theme('colors.gray.700');;
}
.christmasgarland-module-item-1 {
  margin-top: -5px;
  margin-left: -9px;
}
[dir="rtl"] .christmasgarland-module-item-1 {
  margin-left: 0;
  margin-right: -9px;
}
.christmasgarland-module-item-1 .christmasgarland-module-lamp,
.christmasgarland-module-item-1 .christmasgarland-module-shadow {
  animation-name: christmasgarland-animation-1;
}
.christmasgarland-module-item-2 {
  margin-top: -3px;
  margin-left: -8px;
}
[dir="rtl"] .christmasgarland-module-item-2 {
  margin-left: 0;
  margin-right: -8px;
}
.christmasgarland-module-item-2 .christmasgarland-module-lamp,
.christmasgarland-module-item-2 .christmasgarland-module-shadow {
  animation-name: christmasgarland-animation-2;
}
.christmasgarland-module-item-3 {
  margin-top: -8px;
  margin-left: -8px;
}
[dir="rtl"] .christmasgarland-module-item-3 {
  margin-left: 0;
  margin-right: -8px;
}
.christmasgarland-module-item-3 .christmasgarland-module-lamp,
.christmasgarland-module-item-3 .christmasgarland-module-shadow {
  animation-name: christmasgarland-animation-3;
}
.christmasgarland-module-item-4 {
  margin-top: -6px;
  margin-left: -8px;
}
[dir="rtl"] .christmasgarland-module-item-4 {
  margin-left: 0;
  margin-right: -8px;
}
.christmasgarland-module-item-4 .christmasgarland-module-lamp,
.christmasgarland-module-item-4 .christmasgarland-module-shadow {
  animation-name: christmasgarland-animation-4;
}
.christmasgarland-module-item-5 {
  margin-top: -7px;
  margin-left: -10px;
}
[dir="rtl"] .christmasgarland-module-item-5 {
  margin-left: 0;
  margin-right: -10px;
}
.christmasgarland-module-item-5 .christmasgarland-module-lamp,
.christmasgarland-module-item-5 .christmasgarland-module-shadow {
  animation-name: christmasgarland-animation-5;
}
@keyframes christmasgarland-animation-fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes christmasgarland-animation-1 {
  0% {
    color: theme('colors.sky.600');
  }
  20% {
    color: theme('colors.emerald.600');
  }
  40% {
    color: theme('colors.orange.600');
  }
  60% {
    color: theme('colors.rose.600');
  }
  80% {
    color: theme('colors.violet.600');
  }
  to {
    color: theme('colors.sky.600');
  }
}
@keyframes christmasgarland-animation-2 {
  0% {
    color: theme('colors.rose.600');
  }
  20% {
    color: theme('colors.orange.600');
  }
  40% {
    color: theme('colors.violet.600');
  }
  60% {
    color: theme('colors.sky.600');
  }
  80% {
    color: theme('colors.emerald.600');
  }
  to {
    color: theme('colors.rose.600');
  }
}
@keyframes christmasgarland-animation-3 {
  0% {
    color: theme('colors.emerald.600');
  }
  20% {
    color: theme('colors.sky.600');
  }
  40% {
    color: theme('colors.violet.600');
  }
  60% {
    color: theme('colors.rose.600');
  }
  80% {
    color: theme('colors.orange.600');
  }
  to {
    color: theme('colors.emerald.600');
  }
}
@keyframes christmasgarland-animation-4 {
  0% {
    color: theme('colors.orange.600');
  }
  20% {
    color: theme('colors.rose.600');
  }
  40% {
    color: theme('colors.emerald.600');
  }
  60% {
    color: theme('colors.sky.600');
  }
  80% {
    color: theme('colors.violet.600');
  }
  to {
    color: theme('colors.orange.600');
  }
}
@keyframes christmasgarland-animation-5 {
  0% {
    color: theme('colors.violet.600');
  }
  20% {
    color: theme('colors.sky.600');
  }
  40% {
    color: theme('colors.emerald.600');
  }
  60% {
    color: theme('colors.orange.600');
  }
  80% {
    color: theme('colors.rose.600');
  }
  to {
    color: theme('colors.violet.600');
  }
}
