---
import time from "../../utils/time.js";
const year = time.year;
---

<section id="footer">
  <div class="text-gray-500 p-2 font-light">
      <i class="fa-solid fa-copyright"></i>
      {year} Matvey Aleksandrov &lt;matvey@arlcrow.site&gt;.
  </div>
</section>
