---
import Main from "../layouts/Main.astro";
---

<Main
        name="arlcrow123"
        fullname= "Matvey Aleksandrov"
        about="open source developer, devops"
        telegram="Telegram"
        email="Email">
</Main>
