---
import Main from "../../layouts/Main.astro";
---

<Main
        name="arlcrow123"
        fullname= "Матвей Александров"
        about="open source разработчик, devops"
        telegram="Telegram"
        email="Email">
</Main>
