.snowflake__inner:before {
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  -webkit-mask: url("https://static.arlcrow.site/fa/svgs/solid/snowflake.svg")
    no-repeat center;
  mask: url("https://static.arlcrow.site/fa/svgs/solid/snowflake.svg") no-repeat
    center;
  -webkit-mask-size: contain;
  mask-size: contain;
}